<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Products - Agriweb Admin', 'none')"/>


<body>
<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Products</h2>

        <th:block sec:authorize="hasAnyAuthority('admin')">
            <a class="fas fa-folder-plus fa-3x icon-dark m-4" th:href="@{/products/new}"></a>
            |
        </th:block>
        &nbsp;
        <a class="fas fa-file-csv fa-3x icon-green m-4" th:href="@{/products/export/csv}"></a>



        <div th:if="${message!= null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div th:replace="fragments :: search_form('/products/page/1')"/>

        <div >
            <table class="table table-responsive-xl table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th th:replace="fragments :: column_link('/products','idProduct', 'ID', 'none')" />
                    <th>Main Image</th>
                    <th th:replace="fragments :: column_link('/products','nameProduct', 'Product Name', 'none')" />

                    <th>Alias</th>

                    <th:block sec:authorize="hasAnyAuthority('editor')">
                    <th>Cost</th>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('editor')">
                    <th>In Stock</th>
                    </th:block>


                    <th:block sec:authorize="hasAnyAuthority('admin')">
                    <th>Enabled</th>
                    </th:block>

                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each = "product: ${listProducts}">
                    <td class="hideable-column">[[${product.idProduct}]]</td>

                    <td>
                        <img  th:src="@{${product.mainImagePath}}" class="img-fluid" style="width: 120px"/>
                    </td>

                    <td>[[${product.nameProduct}]]</td>

                    <td class="hideable-column">[[${product.alias}]]</td>


                    <th:block sec:authorize="hasAnyAuthority('editor')">
                    <td>[[${product.cost}]]</td>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('editor')">
                    <td>[[${product.quantity}]]</td>
                    </th:block>




                    <th:block sec:authorize="hasAnyAuthority('admin')">
                        <td>
                            <div th:replace="fragments :: product_status "/>
                        </td>
                    </th:block>



                    <td>
                        <a class="fas fa-file-alt fa-2x icon-green link-detail"
                        th:href="@{'/products/detail/' + ${product.idProduct}}"
                        title="view details of this product"></a>
                        &nbsp;

                        <div th:replace="fragments :: product_actions"/>
                    </td>

                    </td>

                </tr>
                </tbody>

            </table>
        </div>


        <div th:replace="modal_fragment :: confirm_modal" />

        <div class="modal fade " id="detailModal">
            <div class="modal-dialog modal-lg" style="max-width: 90%">
                <div class="modal-content p-5" >

                </div>
            </div>
        </div>

        <div th:replace="fragments :: pagination('/products', 'products')"></div>


        <div th:replace="fragments :: footer"></div>
    </div>
</div>

<script th:src="@{/js/common_list.js}"></script>

<script type="text/javascript">
    moduleUrl = "[[@{/products}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'product');

        });
        $(".link-detail").on("click", function(e){
            e.preventDefault();
            linkDetailURL= $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL)
        })

    });

</script>



</body>

</html>
