<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: page_head('Categories - Agriweb Admin', 'none')"/>


<body>
<div class="container-fluid">

    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Categories</h2>
        <a class="fas fa-user-plus fa-3x icon-dark m-4" th:href="@{/categories/new}"></a>
        &nbsp;|&nbsp;
        <a class="fas fa-file-csv fa-3x icon-green m-4" th:href="@{/categories/export/csv}"></a>


        <div th:if="${message!= null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

       <div th:replace="fragments :: search_form('/categories/page/1')"/>

        <div class="full-details">
            <table class="table table-responsive-xl table-striped table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Image</th>

                    <!--    <a class="text-white" th:href="@{'/categories/page/' + ${currentPage} + '?sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' +keyword: '' }}">Name</a>
                        <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"></span> -->

                       <th th:replace="fragments :: column_link('/categories','name', 'Name', 'none')" />


                    <th class="hideable-column">Alias</th>
                    <th>Enabled</th>
                    <th> </th>

                </tr>
                </thead>
                <tbody>
                <tr th:each = "category: ${listCategories}">

                    <td>
                        <img th:src="@{${category.imagePath}}" width="100px"/>
                    </td>

                    <td>[[${category.name}]]</td>

                    <td class="hideable-column">[[${category.alias}]]</td>


                   <td>
                        <div th:replace="fragments :: category_status "/>
                    </td>

                    <td>
                        <div th:replace="fragments :: category_actions"/>
                    </td>

                    </td>

                </tr>
                </tbody>

            </table>
        </div>


        <div class="less-details">
            <div th:each="category: ${listCategories}" class="row m-1">
                <div class="col-4">
                    <img th:src="@{${category.imagePath}}" style="width: 100px"  class="img-fluid"/>
                </div>
                <div class="col-8">
                    <div>[[${category.name}]]</div>
                    <div class="mt-2">
                        <div th:replace="fragments :: category_status "/>
                         &nbsp;
                        <div th:replace="fragments :: category_actions"/>
                    </div>

                </div>
                  <div>&nbsp;</div>
            </div>
        </div>

        <div th:if="${keyword != null}" class="text-center">
            <span style="font-weight: 600">Search result does not show categories in hierarchical form</span>
            <div th:replace="fragments :: pagination('/categories', 'categories')"></div>
        </div>

        <th:block th:unless="${keyword != null}"></th:block>
        <div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>



        <div th:replace="modal_fragment :: confirm_modal" />


        <div th:replace="fragments :: footer"></div>
    </div>
</div>

<script th:src="@{/js/common_list.js}"></script>

<script type="text/javascript">
    moduleUrl = "[[@{/categories}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'category');

        });

    });

</script>



</body>

</html>
