<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">


    <head th:fragment="page_head(title, remove)" th:remove="${remove}">


    <meta charset="utf-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script type="text/javascript" th:src="@{/js/common.js}"></script>

</head>
<body>
<th th:fragment="column_link(moduleURL, fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
    <a class="text-white"  th:href="@{${moduleURL} + '/page/' +${currentPage} + '?sortField='+ ${fieldName} +'&sortDir=' +${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' +keyword: '' }}">
        [[${columnLabel}]]
    </a>

    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"></span>
</th>

  <a th:fragment="page_link(moduleURL, pageNum, label)" class="page-link" th:href="@{${moduleURL} + '/page/' + ${pageNum} +'?sortField=' + ${sortField} +'&sortDir=' +${sortDir}+ ${keyboard != null ? '&keyword=' +keyword : ''}}">[[${label}]]</a>


<!--                         enable or disable product  -->

<div th:fragment="product_status" th:remove="tag">
    <a th:if="${product.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
       th:href="@{'/products/' +${product.idProduct} + '/enabled/false'}"
       title="Disable this product">
    </a>

    <a th:if="${product.enabled == false}" class="fas fa-check-circle fa-2x icon-dark"
       th:href="@{'/products/' +${product.idProduct} + '/enabled/true'}"
       title="Enable this product">
    </a>
</div>




<!--                         enable or disable category-->
  <div th:fragment="category_status" th:remove="tag">
       <a th:if="${category.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
       th:href="@{'/categories/' +${category.idCategory} + '/enabled/false'}"
       title="Disable this category">
       </a>

      <a th:if="${category.enabled == false}" class="fas fa-check-circle fa-2x icon-dark"
         th:href="@{'/categories/' +${category.idCategory} + '/enabled/true'}"
         title="Enable this category">
      </a>
  </div>


<!-- Edit & delete product fragments-->
<div  th:fragment="product_actions" th:remove="tag">
    <a  class="fas fa-edit fa-2x icon-green"
        th:href="@{'/products/edit/' + ${product.idProduct}}"
        title="Edit this product"></a>
    &nbsp;
    <th:block>
        <a  class="fas fa-trash fa-2x icon-red link-delete"
            th:href="@{'/products/delete/' + ${product.idProduct}}"
            th:entityId="${product.idProduct}"
            title="Delete this product"></a>
    </th:block>
</div>







<!-- Edit & delete category fragments-->
<div  th:fragment="category_actions" th:remove="tag">
    <a  class="fas fa-edit fa-2x icon-green"
       th:href="@{'/categories/edit/' + ${category.idCategory}}"
       title="Edit this category"></a>
    &nbsp;
      <th:block th:if="${category.hasChildren == false}">
          <a  class="fas fa-trash fa-2x icon-red link-delete"
              th:href="@{'/categories/delete/' + ${category.idCategory}}"
              th:entityId="${category.idCategory}"
              title="Delete this category"></a>
      </th:block>
</div>


<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">

                <div class="text-center m-1" th:if="${totalItems > 0}">
                    <span > Showing [[${entityName}]] #[[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
                </div>

                <div class="text-center m-1" th:unless="${totalItems > 0}">
                    <span> No [[${entityName}]] found</span>
                </div>
                <!-- Pagination fragments-->

                <div th:if="${totalPages > 1}">
                    <nav>
                        <ul class="pagination justify-content-center flex-wrap">
                            <li th:class="${currentPage  > 1 ? 'page-item': 'page-item disabled'}">
                                <a class="page-link" th:replace="fragments :: page_link(${moduleURL}, 1, 'First')">
                                    First
                                </a>
                            </li>

                            <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
                                <a class="page-link" th:replace="fragments :: page_link(${moduleURL}, ${currentPage-1}, 'Previous')">
                                    Previous
                                </a>
                            </li>

                            <li th:class="${currentPage != i ? 'page-item': 'page-item active' }" th:each="i : ${#numbers.sequence(1, totalPages)}">
                                <a class="page-link"  th:replace="fragments :: page_link(${moduleURL},${i}, ${i})">[[${i}]]
                                </a>
                            </li>
                            <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                                <a class="page-link" th:replace="fragments :: page_link(${moduleURL},${currentPage+1}, 'Next')">
                                    Next
                                </a>
                            </li>
                            <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                                <a class="page-link" th:replace="fragments :: page_link(${moduleURL},${totalPages}, 'Last')">
                                    Last
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
</div>


        <!-- Search form fragment-->
<div th:fragment="search_form(moduleURL)">
    <form th:action="@{${moduleURL}}" class="form-inline m-3">
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>

        Filter:&nbsp;
        <input type="search" name="keyword" th:value="${keyword}" required class="form-control"/>
        &nbsp;&nbsp;
        <button type="submit"  class="btn btn-success" >
            <i class="fas fa-search"></i>
        </button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" onclick="clearFilter()" >
            <i class="fas fa-eraser"></i>
        </button>

    </form>
</div>








<footer th:fragment="footer" class="footer bg-dark m-3">
    <div class="text-center">
        <p class="text-white">Made with ♥ by Group xx || All rights reserved &copy; Agriweb 2022</p>
    </div>
</footer>



</body>
</html>